* {
    margin: 0;
    padding: 0;
}
.header {
    background-image: url(../Uber-website/images/home-woman.jfif.jfif);
    background-size: cover;
    background-position: top;
    min-height: 100%; 
}

.header nav li {
   margin: 0 3px 0 3px;
   border-radius: 20px;
}

.header nav li:hover {
    background-color: rgb(73, 70, 70);
    transition: 0.4s ease-in;    
}

.brand-logo {
    margin-left: 100px;
}

section {
    background-image: url(../Uber-website/images/HP-U4B-NYC-bkg.png);
    background-size: cover;
    background-position: center center;
    min-width: 100%;
    min-height: 40%;
    position: relative;  
}
section .container {
    padding-top: 25px;
}


header .card {
    top: 75px;
}
.card .card-content ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(184, 184, 184);
   
}
.card ul li {
    margin: 10px;
    cursor: pointer;  
}

.card ul img {
    display: block;
}

.card .material-icons {
    vertical-align: middle;
}

.card .card-content a {
    margin: 25px 0;
}
#rijden-of-bezorgen img{
    padding-left: 40px;
    
}
#rijden-of-bezorgen {
    border-bottom: 4px solid black;
    margin-bottom: 0;
}
.card-action {
   font-size: 13px;
   
}
.card-action a:hover {
    border-bottom: 1px solid black;
    transition: 1s step-start;
}

/*  Footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 25px 100px;
}

.footer h5 {
    margin: 16px 0;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-container-1 {
    display: flex;
    flex-direction: column;
}

.footer-container-1 h5 {
    font-size: 24px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.footer-container-1 h6 {
    font-size: inherit;
    margin: 20px 0;
    padding-bottom: 50px;
    width: fit-content;
    cursor: pointer;    
}

.footer-container-1 h6:hover {
    border-bottom: 1px solid white;
}
.footer-container-2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 14px;
    flex-wrap: wrap;    
}

.footer-container-2 ul li {
    margin: 16px 0;
    cursor: pointer;
}
.footer-container-2 ul li:hover {
    color: gray;
}
.footer-container-3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.social-media, .app-store, .language-location {
    display: flex;
}

.social-media i {
    font-size: 15px;
    margin: 10px;
}
.language-location i {
    margin: 5px;
}

.footer-container-3 li {
    margin: 10px;
}

.footer-container-4 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;    
}

.footer-container-4 ul {
    display: flex;
}

.footer-container-4 ul li {
    margin: 15px;
    font-family: Arial, sans-serif; 
}


@media (max-width: 600px) {
    .brand-logo {
        margin-left: 25px;
        
    }
    .footer {
        padding: 10px 25px;
    }
    
}